.lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}
.kanit-bold {
    font-family: "Kanit", serif;
    font-weight: 700;
    font-style: normal;
}

header {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 15px;
    font-size: 4rem;
    color: black;
    height: 10vh;
    margin: 2vh;
}

header img {
    height: 10vh;
}

.underline {
    border: 2px solid black;
    width: 25vw;
}

body {
    background: rgb(253,240,213);
    background: url("../images/kro_vill_background_01.jpg");

    overflow: hidden;

    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    margin-top: 5vh;
    align-items: baseline;

    min-height: 71vh;
}

.content {
    background-color: #003049;
    text-align: justify;
    width: 40vw;
    color: white;
    padding: 5vh;

    box-shadow: 1rem 1rem 50px #001e2d;
}

.content h1 {
    font-size: 3rem;
    margin-top: 0;
    text-align: center;
}

.content p {
    font-size: 2rem;
}

nav {
    width: 40vw;
    height: 40vh;

    display: flex;
    flex-direction: column;
    pointer-events: none;
    transition: 0.5s;
}

.button {
    
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex: row nowrap;
    border: 5px solid black;
    border-radius: 10px;
    /*height: 15vh;*/

    height: 100%;

    cursor: pointer;
    user-select: none;
    pointer-events: all;
    transition: 0.5s;
}

a {
    transition: 0.5s;
    margin: 0 2vh 2vh 2vh;
    text-decoration: none;
    height: 25%;
}

nav:hover a {
    height: 20%;
} 

nav a:hover {
    height: 40% !important;
    font-size: 3.5rem;
}

.button p {
    margin: 0;
}

.button img {
    justify-self: baseline;
    height: 50%;
    margin: 1rem;
    background-color: white;
}

footer {
    background-color: black;
    height: 10vh;
    color: white;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style: none;
    font-size: 1.5rem;
    margin: 15px;
}

footer ul li {
    margin: 5px;
}

footer img {
    height: 5vh;
    padding: 10px;
}

.load {
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    animation: loading 2s ease-in-out 3s 1 forwards, textpop 1s ease-in-out 1.5s 1 forwards;
    font-size: 10rem;
    gap: 20px;
}

@keyframes textpop {
    0%{
        font-size: 10rem;
    }
    50%{
        font-size: 11rem;
    }
    100%{
        font-size: 10rem;
    }
}

@keyframes loading {
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(0,100vh);
        display: none;
    }
}

.load img {
    height: 40vh;
    animation: rotation 1s ease-in-out 0.5s forwards
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}