.lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}
.kanit-bold {
    font-family: "Kanit", serif;
    font-weight: 700;
    font-style: normal;
}
body {
    overflow-x: hidden;
    margin: 0;
    animation: noscroll 17s normal 0s 1 forwards;
}
.load {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: white;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    animation: loading 2s ease-in-out 3s 1 forwards, textpop 1s ease-in-out 1.5s 1 forwards;
    font-size: 12vw;
    gap: 20px;
}
.load img{
    height: auto;
}
@keyframes noscroll{
    from{
        overflow-y: hidden;
    }
    to{
        overflow-y: scroll;
    }
}
@keyframes textpop {
    0%{
        font-size: 12vw;
        
    }
    50%{
        font-size: 14vw;
    }
    100%{
        font-size: 12vw;
    }
}

@keyframes loading {
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(0,100vh);
        display: none;
    }
}

.load img {
    height: 40vh;
    animation: rotation 1s ease-in-out 0.5s forwards
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
nav{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav img{
    height: 80%;
}
header{
    height: 80vh;
    width: 100vw;
    background: #caf0f8;
    display: flex;
    align-items: center;
    justify-content: center;
}
header div h1{
    font-size: 6vw;
}
header div h2{
    font-size: 3vw;
}
header h1 span:nth-child(1){
    color: red;
}
header h1 span:nth-child(2){
    color: rgb(0, 195, 255);
}
main{
    height: auto;
}