body{
    margin:0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    height: 60vh;
    width: 100vw;
    background: url(images/main_background.jpg) no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
}
nav{
    background-color: rgba(255, 255, 255, 0.9);
    position: sticky;
    height: 10vh;
    top: 0;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    gap: 5vw;
}
nav ul{
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    align-items: center;
    gap: 2vw;
}
nav ul li{
    display: inline;
    font-size: 2rem;
}
nav ul li:hover{
    cursor: pointer;
}