:root{
    --blue:rgb(0,165,238);
}
body{
    margin:0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
header{
    height: 70vh;
    width: 100vw;
    background: url(images/main_background.jpg) no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
}
nav{
    background-color: rgba(0, 0, 0, 1);
    position: sticky;
    height: 8vh;
    top: 0;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    gap: 5vw;
    border-image: linear-gradient(to right, red 0%, var(--blue) 100%) 1;
    border-width: 4px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 5px;
}
nav ul{
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    align-items: center;
    gap: 2vw;
}
nav ul li{
    display: inline;
    font-size: 2rem;
}
nav ul li:hover , nav img{
    cursor: pointer;
    user-select: none;
}